<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>落とし物掲示板</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script defer src="./JavaScript/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="BBS">
    <main>    
      <div class="BBS">
        <div class="block">
            <h2>タイトル</h2>
            <a href=""><img src="images/忘れ物_sample.png" alt="忘れ物1" id="BBS-images"></a>
            <p>説明</p>
            <p>説明</p>
            <p>説明</p>
        </div>
        <div class="block">
            <h2>タイトル</h2>
            <a href=""><img src="images/忘れ物_sample.png" alt="忘れ物2" id="BBS-images"></a>
            <p>説明</p>
            <p>説明</p>
            <p>説明</p>
        </div>
        <div class="block">
            <h2>タイトル</h2>
            <a href=""><img src="images/忘れ物_sample.png" alt="忘れ物3" id="BBS-images"></a>
            <p>説明</p>
            <p>説明</p>
            <p>説明</p>
        </div>
        <div class="block">
            <h2>タイトル</h2>
            <a href=""><img src="images/忘れ物_sample.png" alt="忘れ物4" id="BBS-images"></a>
            <p>説明</p>
            <p>説明</p>
            <p>説明</p>
        </div>
        <div class="block">
            <h2>タイトル</h2>
            <a href=""><img src="images/忘れ物_sample.png" alt="忘れ物5" id="BBS-images"></a>
            <p>説明</p>
            <p>説明</p>
            <p>説明</p>
        </div>
      </div>
      </main>
      <footer id="footer">
        <p>
            copyright &copy; 2024<br /><a href="https://github.com/Fukushou1911"
                >Shou.F</a
            >, <a href="https://github.com/s1F10230307">Toma.Y</a>, and
            <a href="https://github.com/s1f10240292">Yurina.H</a>, and
            <a href="https://github.com/Sshunsuje">Shunsuke.Y</a> All Rights
            Reserved.
        </p>
      </footer>
    </div>   
  </body>
</html>