<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

    <body>
      <header>
        <nav>
            <a href="{% url 'index' %}" class="title">INIAD LOSTS</a>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}">トップページ</a></li>
                <li><a href="{% url 'post_item' %}">新規投稿</a></li>
                <li><a href="{% url 'login' %}">ログイン</a></li>
                <li><a href="{% url 'register' %}">アカウント登録</a></li>
                <li><a href="{% url 'profile' %}">プロフィール</a></li>
            </ul>
          </nav>
      </header>
        <main>
            <div class="loader-first">
                <div class="looping-rhombuses-spinner">
                  <div class="rhombus"></div>
                  <div class="rhombus"></div>
                  <div class="rhombus"></div>
                </div>
                  <p class="txt">Now Loading...</p>
              </div>
              
                <p class="title3">ログイン</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <label for="username">ユーザー名:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="password">パスワード:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <button type="submit">ログイン</button>
                </form>
        </main>
        <footer id="footer">
            <p>
                copyright &copy; 2024<br /><a href="https://github.com/Fukushou1911"
                    >Shou.F</a
                >, <a href="https://github.com/s1F10230307">Toma.Y</a>, and
                <a href="https://github.com/s1f10240292">Yurina.H</a>, and
                <a href="https://github.com/Sshunsuje">Shunsuke.Y</a> All Rights
                Reserved.
            </p>
        </footer>
    </body>
</html>