<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>落とし物を投稿</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="BBS">
    <main>
      <div class="loader-first">
        <div class="looping-rhombuses-spinner">
          <div class="rhombus"></div>
          <div class="rhombus"></div>
          <div class="rhombus"></div>
        </div>
          <p class="txt">Now Loading...</p>
      </div>
      
        <h1>落とし物を投稿</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">タイトル:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="description">説明:</label>
            <textarea id="description" name="description" required></textarea>
            <br>
            <label for="location">場所:</label>
            <input type="text" id="location" name="location" required>
            <br>
            <label for="date_lost">日付:</label>
            <input type="date" id="date_lost" name="date_lost" required>
            <br>
            <label for="image">画像:</label>
            <input type="file" id="image" name="image">
            <br>
            <button type="submit">投稿</button>
        </form>
        <br>
        <a href="{% url 'index' %}">トップページへ</a>
    </main>
    <footer id="footer">
        <p>
            copyright &copy; 2024<br /><a href="https://github.com/Fukushou1911"
                >Shou.F</a
            >, <a href="https://github.com/s1F10230307">Toma.Y</a>, and
            <a href="https://github.com/s1f10240292">Yurina.H</a>, and
            <a href="https://github.com/Sshunsuje">Shunsuke.Y</a> All Rights
            Reserved.
        </p>
    </footer>
  </body>
</html>