<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>プロフィール</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="BBS">
    <main>
        <h1>{{ user.username }} のプロフィール</h1>
        <p>ありがとうポイント: {{ user.thank_you_points }}</p>
        <br>
        <a href="{% url 'index' %}">トップページへ</a>
    </main>
  </body>
</html>