html {
    font-family: sans-serif;
  }

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arimo", sans-serif;
  margin:0;
  padding:0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

:root {
  --color-link: rgb(136, 187, 228);
}

main {
  z-index: 2;
  position: relative;
  transition: transform 0.7s ease-in-out;
  background-color: hsl(0, 0%, 100%);
  line-height: 1.7;
  max-width: 32em;
  padding: 5% calc(50% - 16em) 35%;
}

.BBS {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

.BBS h2 {
  font-weight: normal;
  padding: 2% 0 2% 0;
  border-bottom: black solid 1px;
}

#BBS-images {
  width: 70%;
}

.block {
  margin: 0 auto;
  background-color:whitesmoke ;
  width: 1000px;
  border: gray solid 1px;
  padding: 2% 4% 2% 4%;
}

footer {
  width: 100vw;
  height: min(100px, 20vmin);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: gray solid 1px;
}

footer > p {
margin: 0;
font-size: min(18px, 2vmin);
}

footer > p > a {
color: var(--color-link);
text-decoration: none;
}

footer > p:first-child {
font-weight: bold;
}