html {
    font-family: sans-serif;
  }

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arimo", sans-serif;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  transition: transform 0.7s ease-in-out;
}

footer {
    width: 100vw;
    height: min(100px, 20vmin);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: gray solid 1px;
  }

footer > p {
  margin: 0;
  font-size: min(18px, 2vmin);
}

footer > p > a {
  color: var(--color-link);
  text-decoration: none;
}

footer > p:first-child {
  font-weight: bold;
}

.BBS {
  padding-left: 12%;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

.BBS h1 {
  font-weight: normal;
  padding: 2% 0 2% 0;
}

#BBS-images {
  width: 500px;
}

.block {
  background-color: #d4f6fb;
  width: 1000px;
  border: gray solid 1px;
  padding: 2% 4% 2% 4%;
}
